*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build
app/release
*.apk
*.aab
*.keystore
debug.keystore
app/release-key.jks
release-key.jks
keystore_base64.txt
afft-build.zip
